*{
    margin: 0;
    padding: 0;
}

section {
    margin: 20px;
}

.main_user{
    font-style: italic;
    font-weight: bolder;
}

form{
    margin: 10px;
    padding: 10px;
    border: 1px solid grey;
    display: inline-block;
}
input{
    margin: 5px;
}

.dl_desc{
    font-weight: bold;
}

.logout{
    display: inline-block;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid grey;
}
.error{
    color: red;
    font-weight: bold;
}

ul{
    list-style: none;
}
ul li a{
    display: inline-block;
    text-decoration: none;
}
